* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 32%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: inline-block;
  text-align: left;
  padding: 20px;
  line-height: 2;
  margin-top: 5%;
}
.container div {
  gap: 10px;
  /* filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2)); */
}
.shopImage {
  text-align: center;
  align-items: center;
}
.shopImage img {
  width: 50%;
}
.BuyBtn{
  text-align: center;
  background-color: orange;
  margin: auto;
  width: max-content;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  justify-content: center;
  display: flex;
}

@media screen  and (min-width:300px) and (max-width:900px){
  .container{
    display: flex;
    width: 100%;
    font-size: 12px;
    flex-direction: column;
  }
  .BuyBtn{
    font-size: 12px;
    padding: 5px;
  }
}
